.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  background-color: var(--dark-blue);
}

.navbar {
  display: grid;
  justify-content: center;
  background-color: var(--dark-blue);
  color: var(--light-text);
  font-weight: bold;
  font-size: 1.4rem;
  height: 15vh;
  width: 100%;
}

.navbar .navElements {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}

.navbar li {
  background-color: var(--button-blue);
  border-radius: 5px;
  text-decoration: none;
  color: var(--light-text)
}

.navbar li:hover {
  box-shadow: 3px 3px 3px var(--light-text);
}

.navbar a {
  text-decoration: none;
}

.navbar p {
  margin: 10px;
  padding: 10px;
  font-size: 2rem;
}

.navbar li {
  padding: 10px;
  margin: 10px;
}

.main {
 color: var(--dark-blue);
 display: flex;
 flex-direction: column;
 align-items: center;
}

.title {
  border: 2px solid var(--dark-blue);
  height: 500px;
  width: 960px;
  margin-top: 5%;
  border-radius: 5px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--light-text);
  background: linear-gradient(var(--light-text), var(--button-blue));
  overflow: hidden;
  padding-bottom: 0;
}

.title h1 {
  z-index: 5;
  position: relative;
  font-size: 2.75rem;
}

.title h2 {
  z-index: 5;
  position: relative;
  font-size: 1.5rem;
}

.tetra {
  position: absolute;
}

.frontPageAbout {
  background-color: var(--medium-blue);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  margin: 100px 0;
  flex-direction: column;
  text-align: left;
}

.AboutBlurb {
  margin: 50px;
  width: 940px;
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
  padding: 10px;
  font-size: 1.25rem;
  background-color: var(--light-text);
}

.frontPageAbout h3 {
  font-size: 2.25rem;
  margin: 50px 0 0 50px;
}

.AboutBlurb p {
  font-size: 1.5rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.fishPicture {
  height: auto;
  aspect-ratio: 25/20;
}

.fishCard {
  height: 240px;
}

.fishCard h4 {
  position: relative;
  top:-50%;
  text-align: center;
  color: var(--light-text);
  font-size: 2rem;
}

.galleryh3 {
  font-size: 2.5rem;
}

.footer {
  justify-content: center;
  background-color: var(--dark-blue);
  color: var(--light-text);
  font-weight: bold;
  font-size: 1.4rem;
  height: 100%;
  width: 100%;
  margin-top: 50px;
  align-items: center;
  font-size: 1rem;
}

.footer h3 {
  padding: 20px;
  margin: 0;
  margin-left: 10px;
  font-size: 1.5rem;
}

.footerInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: left;
  align-items: center;
  line-height: 1.75rem;
}

.hours {
  grid-row: 1 / span 2;
}

.footerInfo ul {
  list-style-type: none;
}

.designer {
  margin: 0;
  margin-left: 10px;
  padding: 20px;
}
