

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  color: var(--light-text);
  font-weight: bold;
  font-size: 1.4rem;
  height: 15vh;
  width: 100vw;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navbar li {
  background-color: var(--button-blue);
  border-radius: 5px;
}

.navbar p {
  margin: 10px;
  padding: 10px;
  font-size: 2rem;
}

.navbar li {
  padding: 10px;
  margin: 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 85bw;
}

.tank {
  border-width: 5px 30px 30px 30px;
  border-style: solid;
  border-color: black;
  height:70vh;
  width: 70vw;
  display: flex;
  align-items: end;
  background: linear-gradient(0.25turn, gray, white, gray);
}

.water {
  background: radial-gradient(#f4f6fb, #4f70c4);
  height: 95%;
  width: 100%;
  text-align: end;
}

.fish1 {
  height: 100px;
  width: 200px;
}

.fishBody {
  background-color: orange;
  height: 100%;
  width: 70%;
  border-radius: 50%;
}

.fishFin1 {
  height: 30%;
  width: 30%;
  background-color: orange;
  position:relative;
  bottom: 90px;
  left: 120px;
  rotate: -20deg;
  border-radius: 50%;
}

.fishFin2 {
  height: 30%;
  width: 30%;
  background-color: orange;
  position:relative;
  bottom: 85px;
  left: 120px;
  rotate: 20deg;
  border-radius: 50%;
}